extends layout
block content
    - var homepage = "https://www.gregoftheweb.com"
    - var github = "https://github.com/PortableStick"
    - var linkedin = "https://www.linkedin.com/in/smith-gregory"
    - var fcc = "https://freecodecamp.com/portablestick"
    include includes/navbar.pug
    main.container
        p.flow-text My name is Greg Smith.  Some of the internet knows me as #[a(href=fcc, target="_blank") PortableStick].
            |  I'm a web developer currently holed up in Colorado, but seeking opportunities to grow and develop elsewhere.
            | This is a simple project I made to refresh my Express skills, to solidify my understanding of the OAuth
            | authorization grant flow, and because I just like making things.  You can check out more of my personal projects at my
            | #[a(href=homepage, target="_blank") homepage], and feel free to peruse my #[a(href=github, target="_blank") repos]
            | or connect with me on #[a(href=linkedin, target="_blank") LinkedIn].
        .row
            .col.sm6.m3
                a.waves-effect.waves-light.btn-large(href=homepage, target="_blank") #[i.fa.fa-home] Homepage
            .col.sm6.m3
                a.waves-effect.waves-light.btn-large(href=github, target="_blank") #[i.fa.fa-github] Github
            .col.sm6.m3
                a.waves-effect.waves-light.btn-large(href=linkedin, target="_blank") #[i.fa.fa-linkedin] LinkedIn
            .col.sm6.m3
                a.waves-effect.waves-light.btn-large(href=fcc, target="_blank") #[i.fa.fa-free-code-camp] FreeCodeCamp
    include includes/footer.pug
    include includes/scripts.pug
    script(src="/js/short_script.js")