doctype html
html
  head
    title Score
    link(rel='stylesheet',
          href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css',
          integrity='sha256-jySGIHdxeqZZvJ9SHgPNjbsBP8roij7/WjgkoGTJICk=',
          crossorigin='anonymous')
    link(rel='stylesheet',
        href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css',
        integrity='sha256-WmhCJ8Hu9ZnPRdh14PkGpz4PskespJwN5wwaFOfvgY8=',
        crossorigin='anonymous')
    link(rel='stylesheet',
        href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css',
        integrity='sha256-xbQIJkhfOw0Dry1H9lawvXRi9XcqdE8jDBZx1Op/mz8=',
        crossorigin='anonymous')
    link(rel='stylesheet',
        href='https://fonts.googleapis.com/icon?family=Material+Icons')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
